<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ishare | file sharing media</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <section class="upload-container">
        <div class="drop-zone">
            <div class="icon-container">
                <img class="center" src="/static/images/file.svg" alt="file icon" draggable="false">
                <img class="left" src="/static/images/file.svg" alt="file icon" draggable="false">
                <img class="right" src="/static/images/file.svg" alt="file icon" draggable="false">
            </div>
            <input type="file" id="fileInput">
            <div class="tittle">Drop your files here or,<span class="browseBtn">browse</span></div>
        </div>

        <div class="progress-container">
            <div class="bg-progress">
                
            </div>
        </div>
        
    </section>
</body>
<script src="/static/js/index.js"></script>
</html>